@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Metal+Mania&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

@font-face {
    font-family: "Booter - Zero Zero";
    src: url(Fonts/Booter\ -\ Zero\ Zero.woff) format("woff"),
         url("Fonts/Booter\ -\ Zero\ Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .6);
}

.main-nav li{
    padding: 0 5%;
}

.bandname{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.bandname_large{
    font-size: 10em;
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/headerback.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.content-section{
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: "Metal mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.aboutband-image{
    float: left;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
}

.mainfooter{
    background-color: #777;
    color: white;
    padding: .25em 0;
}

.mainfooter-container{
    display: flex;
    align-items: center;
}

.mainfooter-container ul{
    flex-grow: 1;
    text-align: end;
}

.footernav li{
    padding: 0 .5em;
}

.footernav img{
    width: 40px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btnheader{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btnheader :hover{
    background-color: rgba(255, 255, 255, .3);
}

.btnplay{
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tourrow{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tourrow:last-child{
    border-bottom: none;
}

.touritem{
    display: inline-block;
    padding-right: .5em;
}

.tourdate{
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tourcity{
    width: 24%;
}

.tourarena{
    width: 42%;
}

.tourbtn{
    max-width: 19%;
}

.btnprimary{
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btnprimary:hover{
    background-color: #2D9CDB;
}

.shopitem{
    margin: 30px;
}

.shopitem-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shopitem-image{
    width: 250px;
}

.shopitem-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shopitem-price{
    flex-grow: 1;
    color: #333;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartheader{
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cartcolumn{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cartrow{
    display: flex;
}

.cartitem{
    width: 45%;
}

.cartprice{
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cartquantity{
    width: 35%;
}

.cartitem-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cartitem-image{
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger{
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #cc4c4c;
}

.cartquantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cartrow:last-child{
    border-bottom: 1px solid black;
}

.cartrow:last-child .cartcolumn{
    border: none;
}